[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.6"
numpy = "==1.19.5"
altair = "==4.1.0"
pandas = "==1.2.5"
scipy = "==1.6.2"
click = "==8"

[dev-packages]

[requires]
python_version = "3.8"
